
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

<title>Rematch</title>

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/bookmark-icon.jpg" type="image/x-icon" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />


<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,500" rel="stylesheet"> 

<link href="/assets/style.css" type="text/css" rel="stylesheet" />
<link href="/assets/jquery-ui.css" type="text/css" rel="stylesheet" />

</head>

<body>
    
<div class="wrapper">   
    <!-- Header part start -->
    <header class="header">
        <div class="container">
            
                <div class="logo">
                    <a href="index.html" title="Rematch">   
                        <img src="/assets/logo.png" alt="Rematch" />                    </a>
                    <a href="javascript:;" rel="nofollow" class="menuIcon">
                        <span class="line1"></span>
                        <span class="line2"></span>
                        <span class="line3"></span>
                    </a>                
                </div>
                
                <div class="headerRight text-right">
                    <nav class="navigation">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="onlineSpan">456 Online</span>
                                    PLAY  NOW
                                </a>
                            </li>
                            <li>
                                <a href="#">HOW IT WORKS</a>
                            </li> 
                            <li class="loginLi">
                                <a href="#login-popup" class="cd-popup-trigger" rel="nofollow">
                                    <i class="svgIcon">
                                        <?xml version="1.0" encoding="utf-8"?>
                                        <!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" width="24px" height="24px" x="0px" y="0px"
                                             viewBox="0 0 48 56" style="enable-background:new 0 0 48 56;" xml:space="preserve">
                                        <g>
                                            <path d="M21.3,39.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l12-12c0.1-0.1,0.2-0.2,0.2-0.3
                                                c0.1-0.2,0.1-0.5,0-0.8c-0.1-0.1-0.1-0.2-0.2-0.3l-12-12c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L31.6,27H1c-0.6,0-1,0.4-1,1s0.4,1,1,1
                                                h30.6L21.3,39.3z"/>
                                            <path d="M47,0H10C9.4,0,9,0.4,9,1v21c0,0.6,0.4,1,1,1s1-0.4,1-1V2h35v52H11V34c0-0.6-0.4-1-1-1s-1,0.4-1,1v21c0,0.6,0.4,1,1,1h37
                                                c0.6,0,1-0.4,1-1V1C48,0.4,47.6,0,47,0z"/>
                                        </g>
                                        </svg>
 
                                    </i>                                      
                                    <span>LOGIN</span>
                                </a>
                            </li>                                                                                                    
                        </ul>
                    </nav>
                </div>                
                
        </div>
    </header>
    <!-- Header part end -->
    
    <!-- Slider section start -->
    <section class="sliderSec">
        <div id="homeSlider">
            <div style="background-image:url(/assets/slider-1.jpg)" class="slideDiv">
                <div class="sldieInner">
                    <div class="bannerTitle">FIFA 18</div>
                    <h2>Play Now On GG Rematch</h2>
                    <a href="#" class="trans btn">Start Playing</a>
                </div>    
                <div class="progress"></div>                
            </div>
            <div style="background-image:url(assets/slider-1.jpg)" class="slideDiv">
                <div class="sldieInner">
                    <div class="bannerTitle">FIFA 18</div>
                    <h2>Play Now On GG Rematch</h2>
                    <a href="#" class="trans btn">Start Playing</a>
                </div>  
                <div class="progress"></div>  
            </div>            
        </div>
<!--       <div class="slider-progress">
        <div class="progress"></div>
      </div> -->
    </section>
    <!-- Slider section end -->
    

    <!-- Video section start -->
    <section class="videoSec">
        <div class="container">
            <!-- left video div start -->
            <div class="videoDiv">
                <iframe src="https://player.vimeo.com/video/46926279" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <!-- left video div end -->

            <!-- Right content div start -->
            <div class="rightCon">    
                <h2>PLAY GAMES. WIN CASH</h2>
                <ul class="contentUl">
                    <li>
                        <i class="icon1"></i>
                        <span>Sign up for a free account</span>
                    </li>
                    <li>
                        <i class="icon2"></i>
                        <span>Enter Sit-and-Go or Bracket Tournaments</span>
                    </li>
                    <li>
                        <i class="icon3"></i>
                        <span>Win cash, cool prizes and bragging rights</span>
                    </li>                                        
                </ul>
                <a href="#register-popup" class="trans btn btn-trans cd-popup-trigger">Sign Up</a>
            </div>
            <!-- Right content div end -->

        </div>
    </section>
    <!-- Video section end --> 
 


    <!-- Tournament section start -->
    <section class="tournamentSec text-center">
        <div class="container">

            <div class="tourText">
                <div class="tourLinks">
                    <ul class="tabUl">
                        <li class="active" data-tab="sit-and-go">Sit-and-go</li>
                        <li data-tab="bracket-tournaments">BRACKET TOURNAMENTS</li>
                    </ul>                        
                    <div class="tournTabmain">
                        <div class="tabMain fade active in" id="sit-and-go">    
                            <p>Sit down and be matched up with an opponent within minutes.</p>
                        </div>    
                        <div class="tabMain fade" id="bracket-tournaments">    
                            <p>Sit down and be matched up with an opponent within minutes.</p>
                        </div>                          
                    </div>    
                </div>
            </div>

            <div class="row">
                <div class="imgDiv halfWidth">
                    <div class="imgInner">
                        <img src="/assets/mortal.jpg" alt="" />
                        <span>MORTAL KOMBAT X</span>
                    </div>
                </div>                
                <div class="imgDiv">
                    <div class="imgInner">
                        <img src="/assets/madden.jpg" alt="" />
                        <span>MADDEN 18</span>
                    </div>
                </div>
                <div class="imgDiv">
                    <div class="imgInner">
                        <img src="/assets/nba.jpg" alt="" />
                        <span>NBA 2K 18</span>
                    </div>
                </div>
                <div class="imgDiv">
                    <div class="imgInner">
                        <img src="/assets/fifa.jpg" alt="" />
                        <span>FIFA 18</span>
                    </div>
                </div>
                <div class="imgDiv">
                    <div class="imgInner">
                        <img src="/assets/injustice.jpg" alt="" />
                        <span>INJUSTICE 2</span>
                    </div>
                </div>
            </div>

            <a href="#" class="trans btn">Join Now</a>

        </div>
    </section>
    <!-- Tournament section end --> 

    <!-- Footer section start --> 
    <footer class="footer">
        <a title="Scroll Top" class="trans circleDiv scrollTop clickScroll" href="body"></a>   
        
        <div class="container">
            <!-- Information links start -->
            <div class="foLinks">
                <h5 class="foTitle accMain">Information</h5>
                <div class="accDiv foMenu">
                    <ul>
                        <li><a href="#" title="About GG Rematch" class="trans">About GG Rematch</a></li>
                        <li><a href="#" title="F.A.Q" class="trans">F.A.Q</a></li>
                        <li><a href="#" title="Terms & Conditions" class="trans">Terms &amp; Conditions</a></li>                            
                        <li><a href="#" title="Privacy Policy" class="trans">Privacy Policy</a></li>
                        <li><a href="#" title="Rewards" class="trans">Rewards</a></li>
                        <li><a href="#" title="Leaders" class="trans">Leaders</a></li>
                        <li><a href="#" title="Leaders" class="trans">Customer Support</a></li>
                    </ul>                                                       
                </div>
            </div>
            <!-- Information links end -->

            <!-- Games links start -->
            <div class="foLinks gamesLink">
                <h5 class="foTitle accMain">Games</h5>
                <div class="accDiv foMenu">
                    <ul>
                        <li><a href="#" title="Madden 18" class="trans">Madden 18</a></li>
                        <li><a href="#" title="NBA 2K 18" class="trans">NBA 2K 18</a></li>
                        <li><a href="#" title="NHL 2K 18" class="trans">NHL 2K 18</a></li>                            
                        <li><a href="#" title="FIFA 18" class="trans">FIFA 18</a></li>
                        <li><a href="#" title="Capcom vs Marvel" class="trans">Capcom vs Marvel</a></li>
                        <li><a href="#" title="Injustice 2" class="trans">Injustice 2</a></li>
                        <li><a href="#" title="Injustice 2" class="trans">Mortal Kombat</a></li>
                    </ul>                                                       
                </div>
            </div>
            <!-- Games links end -->                  
            
            <!-- Footer nots start -->
            <div class="foNotes">
                <p>Must be 18 years old or over to play. EA Sports and the EA Sports logo are trademarks of Electronic Arts, Inc. All rights reserved. Electronic Arts, Inc is not affiliated with GGrematch.com. 2K Games is a registered trademark of Take-Two Interactive Software, Inc. All rights reserved. Take-Two Interactive Software, Inc is not affiliated with GGrematch.com. Xbox and Xbox One are registered trademarks of Microsoft Corporation. All rights reserved. Microsoft Corporation is not affiliated with GGrematch.com. Playstation and Playstation 4 are registered trademarks of Sony Computer Entertainment.</p>
            </div>  
            <!-- Footer nots end --> 
            
            <!-- Social div start -->
            <ul class="socialUl">
                <li><a href="#" target="_blank" class="fb trans"></a></li>
                <li><a href="#" target="_blank" class="tweet trans"></a></li>
                <li><a href="#" target="_blank" class="insta trans"></a></li>
                <li><a href="#" target="_blank" class="twitch trans"></a></li>
                <li><a href="#" target="_blank" class="ytube trans"></a></li>
            </ul>
            <!-- Social div  end -->

            <!-- Copyright start -->
            <div class="copyRight">    
                <p>Copyright 2017 &copy; <a href="#">GG Rematch</a>. GG Rematch is a division of Carlson Technnologies, Inc.
                 <i class="stripi"></i>
                 <span class="visaIcon"></span>
                 <span class="mastercard"></span>
                 <span class="ameExpress"></span>
                 <span class="paypal"></span>
                </p>
            </div>    
            <!-- Copyright end -->                                                    
            
        </div>
       
    </footer>    
    <!-- Footer section end --> 

    <!-- Login popup start -->
    <div class="cd-popup" id="login-popup">
        <div class="cd-popup-container">
            <div class="popup-img"><img src="/assets/login-logo.png" alt="Rematch" /></div>
            <div class="social-btn">
                <a href="#" class="fbLogin">Facebook Login</a>
                <a href="/users/auth/google_oauth2" class="googleLogin">Google Login</a>
            </div>
            <div class="login-form">
                <input type="text" placeholder="Email Address" class="uname" />
                <input type="password" placeholder="Password" class="pwd" />
                <div class="rem">
                    <input type="checkbox" id="remember" />
                    <label for="remember">Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn">Login</button>
                    <a href="#register-popup" class="trans cd-popup-trigger">Not a Member? Sign up now</a>
                </div>
            </div>
            <a href=".cd-popup" class="cd-popup-close img-replace">Close</a>
        </div>
    </div> 
    <!-- Login popup end -->

    <!-- Register popup start -->
    <div class="cd-popup" id="register-popup">
        <div class="cd-popup-container signup-form">
            <div class="popup-img"><img src="/assets/login-logo.png" alt="Rematch" /></div>
            <div class="social-btn">
                <a href="#" class="fbLogin">Sign up with Facebook</a>
                <a href="/users/auth/google_oauth2" class="googleLogin">Login with Google</a>
                            </div>
            <div class="login-form">
                <input type="text" placeholder="First Name" class="user" />
                <input type="text" placeholder="Last Name" class="user" />
                <input type="text" placeholder="Email Address" class="uname" />
                <input type="password" placeholder="Password (6 Character Minimum)" class="pwd" />
                <input type="password" placeholder="Confirm Password" class="pwd" />
                <div class="divide">
                    <input type="text" placeholder="Country" class="world" />
                    <input type="text" placeholder="State/Province" class="world" />
                </div>
                <input type="text" placeholder="City" class="world" />
                <input type="text" placeholder="Date of Birth (mm/dd/yyyy)" id="datepicker" class="bday" />
                <div class="rem signup">
                    <input type="checkbox" id="terms" />
                    <label for="terms">I am over 18 years of age and agree to the <a href="#">Terms and Conditions.</a></label>
                    <input type="checkbox" id="privacy" />
                    <label for="privacy">I agree to the <a href="#">Privacy Policy.</a></label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn">Sign Up</button>
                    <a href="#login-popup" class="trans cd-popup-trigger">Already a member? Login now</a>
                </div>
            </div>
            <a href=".cd-popup" class="cd-popup-close img-replace">Close</a>
        </div> 
    </div> 
    <!-- Register popup end -->    

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/slick.js"></script>
    <script src="/assets/jquery-ui.js"></script>
    <script src="/assets/custome.js"></script>    


</div>

</body>
</html>
